asgiref==3.8.1
blinker==1.8.2
build==1.2.2.post1
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
dataclasses==0.6
django-cors-headers==3.14.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.7.0
google-api-core==2.23.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
httplib2==0.22.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jsonfield==3.1.0
MarkupSafe==3.0.2
mongoengine==0.29.1
mysqlclient==2.2.4
oauthlib==3.2.2
packaging==24.2
pillow==10.4.0
pip-tools==7.4.1
proto-plus==1.25.0
protobuf==5.28.3
psycopg2==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyJWT==2.9.0
pymongo==3.11.4
pyparsing==3.2.0
pyproject_hooks==1.2.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
runserver==1.0.4
sqlparse==0.5.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
Werkzeug==3.0.4